.gridRow {
    margin: 0px;
}
.gridContainer {
    display: flex;
    margin: 0px;
}
.gridCell {
    margin: 0px;
    margin-left: 19px;
}

.upArrow {
    transform: rotate(270deg);
}

.rightArrow {
    /* This is just here for consistancy, the arrow SVG is default pointed right */
}

.downArrow {
    transform: rotate(90deg);
}

.leftArrow {
    transform: rotate(180deg);
}

